@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: #3d3d3d;
}
.plano{
    background-color:#ffebd9;
    display: flex;
    width: 750px;
    height: 750px;
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 50px;
    margin-left:300px;
    border: solid   #FF8F2C;
    border-radius: 10px;
}
.cabecalho {
    background-color: #FFC899;
    border: solid #FFC899;
    border-radius: 25px;
    margin-top: 30px;
    width: 680px;
    height: 75px;
    margin-left: 40px;
}
.cabecalho  p {
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    margin-left: 200px;
    color: #F27405;
    font-weight: bold;
}
.mensal{
    border: solid #FF8F2C;
    border-radius: 10px;
    margin-top: 30px;
    width: 230px;
    height: 45px;
    margin-left: 60px;
    
}
.b{
    background-color: #F27405;
    width: 230px;
    height: 65px;
    margin-top: 5px;
    margin-left: 60px;
    border: solid #F27405 ;
    border-radius: 10px;
    color: #ffffff;
    font-size: 20px;
}
.b:hover{
    background: #3D3D3D;
    color: #F27405;
    border-color: #3D3D3D;
}
.mensal p{
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-left: 65px;
    margin-top: 2px;
    color: #F27405;
}
.cont{
    margin-top: 5px;
    margin-left: 60px;
    width: 230px;
    height: 65px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 2.5px solid #FF8F2C;
}
.cont p {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    color: #3D3D3D;
    font-weight: bold;
    margin-left: 10px;
    margin-top: 15px;
}
.container{
    border-radius: 10px;
    border: solid #FF8F2C;
    margin-top: -613px;
    margin-left: 630px;
    width: 360px;
    height: 430px;
    flex-shrink: 0;

}
.container .textcentral{
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #F27405;
    margin-left: 75px;

}
.containeer{
    border-radius: 10px;
    border: solid #FF8F2C;
    width: 320px;
    height: 80px;
    flex-shrink: 0;
    margin-left: 15px;

}
label{
    color: #545454;
    text-align: center;
    font-size: 16px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    line-height: normal;
    
}
input {
    margin-left: 20px;
    margin-top: 10px;
}
.containeer p{
    color: #545454;
     font-size: 20px;
    font-family: 'PT Sans', sans-serif;
    margin-left: 20px;   
    
}
.botao {
    border: solid  #000000;
    border-radius: 30px;
    margin-top: 5px;
    height: 40px;
    width: 65px;
    color: #F27405;
    font-size: 15px;
    background-color: #000000 ;
    font-family: 'PT sans', sans-serif;
    font-weight: bold;
}

.direito{ 
    margin-top: -300px;
    margin-left: 650px;
}
.direito .texto {
        
    display: flex;
    width: 476px;
    flex-direction: column;
    flex-shrink: 0;
    color: #000;
    font-size: 15px;
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    font-weight: 700;
    line-height: normal; 
    margin-top: 20px;

}
.valor h3{
    font-family: 'Pt sans', sans-serif;
    font-size: 18px;
    color:#000;
    margin-left: 3px;
    margin-top: 10px;
}
.valor h2{
    font-family: 'Pt sans', sans-serif;
    font-size: 20px;
    color:#F27405;
    margin-left: 3px;
    margin-top: 10px;
    width: 450px;
}
.valur h3{
    margin-top: 8px;
    font-family: 'Pt sans', sans-serif;
    font-size: 18px;
    color:#000;
    font-weight: bold;
}
.valur p{
    font-family: 'Pt sans', sans-serif;
    font-size: 18px;
    color:#000;
    margin-left: 30px;
    margin-top: -20px;
    width: 450px;
    font-weight: bold;
}
.comprar {
    margin-left: -5px;
    margin-top: 10px;
    height: 40px;
    width: 320px;
    border: solid #F27405;
    border-radius: 10px;
    background-color: #F27405;
    font-size: 20px;
    font-family: 'PT SANS', sans-serif;
    font-weight: bold;
    color: #ffffff;

}
.comprar:hover{
    background: #3D3D3D;
    color: #F27405;
    border-color: #3D3D3D;
}